---
import { Image } from "astro:assets";

import "@fontsource/inter/900.css";
import "@fontsource/inter/variable.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;

import Catalyst from "../assets/catalyst.png";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href={Catalyst.src} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <header>
      <div
        class="flex items-center justify-center w-full h-16 border-b-white/10 border-b-2"
      >
        <div
          class="flex flex-row max-w-[1200px] w-[85%] items-center justify-between h-full px-4"
        >
          <div class="flex flex-row items-center gap-1">
            <Image src={Catalyst} alt="Catalyst logo" class="h-10 w-10" />
            <h1 class="text-2xl">Catalyst</h1>
          </div>

          <div class="flex flex-row items-center gap-4 opacity-60">
            <a href="https://dsc.gg/catalystsoftware" target="_blank">
              <img
                src="/discord-mark-white.svg"
                alt="Discord logo"
                class="h-6"
              />
            </a>
            <a href="https://github.com/catalystdevorg" target="_blank">
              <img src="/github-mark-white.svg" alt="GitHub logo" class="h-7" />
            </a>
          </div>
        </div>
      </div>
    </header>

    <main class="flex flex-grow">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  html {
    color: #fff;
    background-color: #08070f;
    font-family: "Inter", sans-serif;
    font-weight: 900;
  }

  @supports (font-variation-settings: normal) {
    html {
      font-family: "InterVariable", sans-serif;
    }
  }
</style>
